<div>
  <%= image_tag @book.get_image %>
  <p>title : <%= @book.title %></p>
  <p>Option : <%= @book.body %></p>
  <!--%= link_to @book.user.name, user_path(user.id) %>-->
</div>

<%= render 'homes/footer' %>